name: release
on:
  release:
    types: [ published ]
jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - uses: actions/checkout@v5

      - name: Strip 'v' prefix from tag
        id: vars
        run: |
          echo "tag=$(echo "$GITHUB_REF_NAME" | sed 's/^v//')" >> $GITHUB_OUTPUT

      - name: Release Helm Chart
        uses: appany/helm-oci-chart-releaser@v0.5.0
        with:
          name: m7o
          repository: elmarx/charts
          tag: ${{ steps.vars.outputs.tag }}
          registry: ghcr.io
          registry_username: ${{ github.actor }}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
